# Housing affordability

Specifically, we want to look at national data and compare it with New Mexico, where the case study for the story is located.

In [1]:
# importing libraries
import pandas as pd

### New Homeowner Affordability

A measure of the share of income the median household would spend on a newly purchased home, including its mortgage payment, homeowner’s insurance, property taxes, and maintenance costs. Typically, spending more than 30% of income on housing is considered unaffordable.

In [8]:
df_home_afford = pd.read_csv("data/Metro_new_homeowner_affordability_downpayment_0.20_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv")
df_home_afford.head(5)

,RegionID,SizeRank,RegionName,RegionType,StateName,2012-01-31,2012-02-29,2012-03-31,2012-04-30,2012-05-31,...,2024-04-30,2024-05-31,2024-06-30,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31
0,102001,0,United States,country,NaN,0.214578,0.213779,0.214812,0.214213,0.212592,...,0.362201,0.364615,0.360204,0.357528,0.347118,0.338609,0.344919,0.354805,0.351909,0.342025
1,394913,1,"New York, NY",msa,NY,0.427985,0.425901,0.427201,0.425786,0.422698,...,0.575911,0.581295,0.576403,0.574358,0.561303,0.550401,0.561903,0.578453,0.574364,0.585660
2,753899,2,"Los Angeles, CA",msa,CA,0.392847,0.389628,0.388746,0.384365,0.378881,...,0.743104,0.750027,0.742408,0.739666,0.720294,0.704217,0.721041,0.745610,0.740817,0.756472
3,394463,3,"Chicago, IL",msa,IL,0.231502,0.228990,0.228549,0.226551,0.223712,...,0.320823,0.323583,0.320746,0.319119,0.311430,0.305126,0.310513,0.318898,0.317095,0.323797
4,394514,4,"Dallas, TX",msa,TX,0.197760,0.197081,0.198253,0.198220,0.197193,...,0.367747,0.368828,0.363521,0.360000,0.349422,0.341179,0.346404,0.354855,0.351030,0.356859